

.hero-text {
    color: white;
    line-height: 1.25;
    position:absolute;
    margin-left: 8rem;
    margin-top: 6rem;
    margin-right: 40rem;
}
.hero-image {
    display: block;
    width: 100%;
    height:auto;
    margin-bottom: 40px;
}

.hero-h1 {
    font-family: "gotham", sans-serif;
    font-weight: 400;
    font-size: 5rem;
}

button {
    height: 30px;
    width: 100px;
    padding: 10px;
    border: 2px solid grey;
    margin: 10px;
}

body {
    background: white;
    display: flex;
    flex-direction: column;
    margin-top: 0rem;
    margin-left: 0rem;
    margin-right: 0rem;
    margin-bottom: 0rem;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    padding-left: 8rem;
    padding-right: 8rem;
    padding-bottom: 1rem;
}

.hamburger {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-side,.right-side {
    display: flex;
    gap: 4rem;
    justify-content: center;
    align-items: center;
}

.right-side {
    font-family: "gotham", sans-serif;
    color: white;
    gap: 8rem;
}

.ohbe-logo-nav {
    width: 10rem;
}

.about-section{
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    margin-right: 5rem;
    margin-left: 5rem;
}

.about-image {
    width: 650px;
    height: auto;
}

.about-text {
    margin-left: 5rem;
}

.about-top {
    text-align: justify;
    text-justify: inter-word;
}

.visual-experience {
    word-spacing: 8.2rem;
}

.handcrafted {
    letter-spacing: 2.4rem;
}

.list-1 {
    word-spacing: 2.8rem;
}

.list-2 {
    word-spacing: 2rem;
}


a {
    text-decoration: none;
    color: black;
}

h1 {
    font-family: "gotham", sans-serif;
    font-weight: 400;
    font-size: 90px;
}

h2 {
    font-family: "gotham", sans-serif;
    font-weight: 700;
    font-size: 40px;
}

h3 {
    font-family: "gotham", sans-serif;
    font-weight: 300;
    font-size: 30px;
}

.product-section {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    gap: 15px;
    padding: 10px;
    border: 1px;
    max-width: 100%;
}

.product-item {
    flex: 0 0 auto;
    width: 350px;
    height: auto;
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    text-align: left;
}

.product-image-01 {
    display: block;
    width: 100%;
}

.live-ohbe-section {
    position:relative;
    color: white;
    display: flex;
}

.live-ohbe-image {
    display: block;
    width: 100%;
    height:auto;
    margin-top: 40px;
}

.live-ohbe-type {
    line-height: 1.25;
    position:absolute;
    margin-left: 8rem;
    margin-right: 8rem;
    margin-top: 5rem;
    
}

.product-button {
    position: absolute;
    background-color: lightgray;
    border: none;
    color: black;
    padding: 20px 100px;
    text-align: center;
    text-decoration: none;
    font-family: "gotham", sans-serif;
    font-size: 20px;
    margin-top: 3rem;
    cursor: pointer;
    border-radius: 40px;
}

.ohbe-logo-footer {
    width: 10rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.footer-section {
    background-color: black;
    padding-top: 50px;
    padding-bottom: 50px;
    box-shadow: 0 0 0 100vmax black;
    clip-path: inset(0 -100vmax);
}

button {
    background-color: lightgray;
    border: none;
    color: black;
    padding: 20px 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'zalando sans expanded', sans-serif;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;
}



@media screen and (max-width: 768px) {

    .nav-bar {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .right-side {
        display: none;
    }
    
    .ohbe-logo-nav {
        width: 8rem;
    }

    .hero-image {
        width: 100%;
        height: auto;
    }
    
    .hero-text {
        margin: 2rem;
    }
    
    .hero-h1 {
        font-size: 3rem;
    }

    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 25px;
    }

    h3 {
        font-size: 20px;
    }

    .about-section {
        margin-bottom: 2rem;
        margin-right: 2rem;
        margin-left: 2rem;
    }

    .about-text {
    margin-left: 0rem;
    }

    .visual-experience {
    word-spacing: 5rem;
    }

    .handcrafted {
        letter-spacing: 1.45rem;
    }

    .list-1 {
    word-spacing: 1rem;
    }

    .list-2 {
    word-spacing: .8rem;
    }


    .product-item {
        max-width: 350px;
    }

    .about-image {
        max-width: 0;
    }

    .live-ohbe-type {
        margin-left: 2rem;
        margin-top: 8rem;
    }

}